---
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';
import Header from '../components/Header.astro';
import LiveApps from '../components/LiveApps.astro';
import SocialLinks from '../components/SocialLinks.astro';
import AdditionalLinks from '../components/AdditionalLinks.astro';
import Loader from '../components/Loader.astro';

const liveApps = [
  { 
    label: 'ATuaCalculadora', 
    href: 'https://atuacalculadora.vercel.app/'
  },
  { 
    label: 'DevDrawer', 
    href: 'https://dev-drawer.vercel.app/'
  },
];

const socialLinks = [
  { label: 'github', href: 'https://github.com/franciscovieirawork-hub' },
  { label: 'x', href: 'https://twitter.com/chicao_nft' },
  { label: 'linkedin', href: 'https://pt.linkedin.com/in/franciscovieirafront' },
];

const additionalLinks = [
  { label: 'about me', href: '/aboutMe' },
  { label: 'professional experience', href: '/projects' },
  { label: 'github projects', href: '/github-projects' },
  { label: 'get in touch', href: '/contact' },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>FVDev - Portfolio</title>
    <meta name="description" content="FVDev - Builds things" />
    <ViewTransitions />
  </head>
  <body>
    <Loader />
    <main>
      <div class="content-wrapper">
        <Header />
        <LiveApps apps={liveApps} />
        <SocialLinks links={socialLinks} />
        <AdditionalLinks links={additionalLinks} />
      </div>
    </main>
  </body>
</html>

<style is:global>
  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-wrapper {
    align-items: start;
  }
</style>
